<template>
<div>
  <!-- <Tutorial/> -->
  <h1 class='red'>Style is applying from css file</h1>
 <NuxtLink to="/secondpage">Click here for next page</NuxtLink>
 
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import "static/assets/css/index.css";


export default Vue.extend({})
</script>
