<template>
<div>
  <!-- <Tutorial/> -->
   <NuxtLink to="/">Click here for previous page</NuxtLink>

</div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>
